backend/app/workflows/content_ingestion.json
{
  "name": "Content Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-ingestion",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "wh000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "content-ingestion"
    },
    {
      "parameters": {
        "jsCode": "// Webhook wraps data as {headers, params, query, body} \u2014 extract body\nconst item = $input.first().json;\nreturn [{ json: item.body || item }];"
      },
      "id": "nb000001-0000-0000-0000-000000000001",
      "name": "Normalize Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract fields from Flask trigger payload\nconst item = $input.first().json;\nreturn [{\n  json: {\n    content_item_id: item.content_item_id,\n    raw_content: item.raw_url || item.body || '',\n    content_type: item.type || 'link',\n  }\n}];"
      },
      "id": "sp000001-0000-0000-0000-000000000001",
      "name": "Sign Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:5000/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Signature",
              "value": "bearer knowbase-webhook-secret-change-in-production"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {content_item_id: $json.content_item_id, raw_content: $json.raw_content, content_type: $json.content_type} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "cf000001-0000-0000-0000-000000000001",
      "name": "Callback to Flask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Body": {
      "main": [
        [
          {
            "node": "Sign Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Payload": {
      "main": [
        [
          {
            "node": "Callback to Flask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}